// 主题变量
$wht-list-bg-color: #fff !default;
$wht-list-border-color: #ebeef5 !default;
$wht-list-card-margin: 10px !default;
$wht-list-card-radius: 8px !default;

// 列表项变量
$wht-list-item-padding: 12px 15px !default;
$wht-list-item-font-size: 14px !default;
$wht-list-item-line-height: 24px !default;
$wht-list-item-color: #303133 !default;
$wht-list-item-note-color: #909399 !default;
$wht-list-item-note-font-size: 12px !default;
$wht-list-item-hover-bg: #f5f7fa !default;
$wht-list-item-disabled-opacity: 0.5 !default; 